# Environment
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Java
target/
*.class

# Node
node_modules/
.next/
out/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Testing / Coverage
.pytest_cache/
.coverage
htmlcov/

# Build
dist/
build/